html, body{
  height: 100%;
  width: 100%;
  margin:0;
  font-family: monospace;
  color:#787878;
}
.container{
  width: 900px;
  margin: auto;
}
canvas{
  width:100%;
}
.label{
  margin:20px auto;
  width:260px;
}
.controls{
  display:none;
}

@media only screen and (max-width: 900px) {
	.container{
		width:100%;
	}
}
@media only screen and (max-width: 600px) {
  .button{
    width:80px;
    height:80px;
    background-size: contain;
    float: left;
    position: relative;
  }
  .button-left{
    background-image: url(images/left-arrow.svg);
    margin:15px 0 15px 15px;
  }
  .button-right{
    background-image: url(images/right-arrow.svg);
    margin:15px;
  }
  .button-jump{
    background-image: url(images/up-arrow.svg);
    right: 0;
    position: absolute;
    margin:15px;
  }
  .label{
    margin-left: 10px;
  }
  .controls{
    display:inline-block;
    margin-top: 50px;
  }
}
